@inherits LayoutComponentBase

<PageTitle>JW Foundation</PageTitle>

<div>
   <div class="top-row auth d-flex justify-content-between align-items-center">
        <NavMenu />
        <LoginDisplay />
    </div>

    <main>
        <article>
            @Body
        </article>
    </main>
     
    <footer class="footer">
        <div>
            <p>&copy; COMP4602 - Jeffrey Wang A00889354</p>
        </div>
    </footer>
</div>
