@page "/"
<div class="text-center mt-5">
    <h3 class="fw-bold">JW Foundation Management System</h3>
    <img src="images/logo.png" alt="logo" class="mt-2" style="max-width: 100px;">
    <p class="fw-bold mb-0 mt-2">Jeffrey Wang _ A01268847</p>
</div>